In [1]:
import pandas as pd

df = pd.read_csv('dxwl.csv')
print(df.head())
print(df.shape)

                    时间       用户ID       姓名     账号       group1    group2  \
0  2022-02-14 10:23:57  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t
1  2022-02-14 10:23:57  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t
2  2022-02-14 10:23:57  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t
3  2022-02-14 10:23:59  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t
4  2022-02-14 10:24:00  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t

     group3      事件类型       课程id     课程名          班级名        班级id 任务点类型 任务点名称  \
0  \t其他院系\t  \t创建课程\t  222668992  大学物理A1          NaN         NaN   NaN   NaN
1  \t其他院系\t  \t创建班级\t  222668992  大学物理A1     \t默认班级\t  50655125.0   NaN   NaN
2  \t其他院系\t  \t创建班级\t  222668992  大学物理A1  大学物理A1-0009  50655126.0   NaN   NaN
3  \t其他院系\t  \t创建班级\t  222668992  大学物理A1  大学物理A1-0010  50655128.0   NaN   NaN
4  \t其他院系\t  \t创建班级\t  222668992  大学物理A1  大学物理A1-0008  50655129.0   NaN   NaN

       设备         IP  省份  城市
0  \tpc\t  10.0.14.8 NaN NaN
1  \tpc\t  10.0.14.8 NaN NaN
2  \tpc\t  10.0.14.8 NaN NaN
3  \tpc\t  10.0.14.8 NaN NaN
4  \tpc\t  10.0.14.8 NaN NaN
(119957, 18)

In [20]:
date = df['时间']
date.head().index
type(date)
date.values

import numpy as np
date.array

<PandasArray>
['2022-02-14 10:23:57', '2022-02-14 10:23:57', '2022-02-14 10:23:57',
 '2022-02-14 10:23:59', '2022-02-14 10:24:00', '2022-02-14 10:27:17',
 '2022-02-14 10:27:36', '2022-02-14 10:27:48', '2022-02-14 10:27:59',
 '2022-02-14 10:28:12',
 ...
 '2022-08-22 10:57:45', '2022-08-23 14:38:42', '2022-08-24 08:52:34',
 '2022-08-24 21:18:28', '2022-08-24 21:36:30', '2022-08-26 09:52:55',
 '2022-08-26 16:34:42', '2022-08-26 16:34:42', '2022-08-26 16:34:42',
 '2022-08-26 16:34:42']
Length: 119957, dtype: object

In [21]:
date.ndim

1

In [22]:
date.dtype

dtype('O')

In [24]:
date_copy = date.copy()
date_copy

0         2022-02-14 10:23:57
1         2022-02-14 10:23:57
2         2022-02-14 10:23:57
3         2022-02-14 10:23:59
4         2022-02-14 10:24:00
                 ...
119952    2022-08-26 09:52:55
119953    2022-08-26 16:34:42
119954    2022-08-26 16:34:42
119955    2022-08-26 16:34:42
119956    2022-08-26 16:34:42
Name: 时间, Length: 119957, dtype: object

In [27]:
pd.Series([True]).bool()

True

In [28]:
date.array

<PandasArray>
['2022-02-14 10:23:57', '2022-02-14 10:23:57', '2022-02-14 10:23:57',
 '2022-02-14 10:23:59', '2022-02-14 10:24:00', '2022-02-14 10:27:17',
 '2022-02-14 10:27:36', '2022-02-14 10:27:48', '2022-02-14 10:27:59',
 '2022-02-14 10:28:12',
 ...
 '2022-08-22 10:57:45', '2022-08-23 14:38:42', '2022-08-24 08:52:34',
 '2022-08-24 21:18:28', '2022-08-24 21:36:30', '2022-08-26 09:52:55',
 '2022-08-26 16:34:42', '2022-08-26 16:34:42', '2022-08-26 16:34:42',
 '2022-08-26 16:34:42']
Length: 119957, dtype: object

In [29]:
date.to_numpy()

array(['2022-02-14 10:23:57', '2022-02-14 10:23:57',
       '2022-02-14 10:23:57', ..., '2022-08-26 16:34:42',
       '2022-08-26 16:34:42', '2022-08-26 16:34:42'], dtype=object)

In [32]:
date_range1 = pd.date_range(start="2022/2/14",end = "2022/8/14",freq = "M")
date_range1

DatetimeIndex(['2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31'],
              dtype='datetime64[ns]', freq='M')

In [33]:
date.get()

'2022-02-14 10:28:12'

In [34]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [35]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [37]:
df.iloc[0]

max_speed    1
shield       2
Name: cobra, dtype: int64

In [57]:
date_range1 = pd.date_range(start="2022/2/14",end = "2022/8/26",freq = "M")
date_range1

# date.loc([df['时间']<date_range1[1]])

df = pd.read_csv('dxwl.csv')
date2 = df['时间']
date2

0         2022-02-14 10:23:57
1         2022-02-14 10:23:57
2         2022-02-14 10:23:57
3         2022-02-14 10:23:59
4         2022-02-14 10:24:00
                 ...
119952    2022-08-26 09:52:55
119953    2022-08-26 16:34:42
119954    2022-08-26 16:34:42
119955    2022-08-26 16:34:42
119956    2022-08-26 16:34:42
Name: 时间, Length: 119957, dtype: object

In [58]:
date2.shape

(119957,)

In [78]:
date2.get(0)
date2_str = date2.at[0].split(" ")[0].format()

from datetime import datetime
date2_datetime = datetime.strptime(date2_str,'%Y-%m-%d')
type(date2_datetime)

date_range1 = pd.date_range(start="2022/2/14",end = "2022/8/26",freq = "M")
date_range1.dtype

False

In [81]:
student1 = df.loc[(df['姓名']=="\t张子涵\t"),['姓名','事件类型']]
student1
student1.get_dummies()

             姓名        事件类型
1080    \t张子涵\t    \t参与签到\t
1305    \t张子涵\t    \t提交考试\t
1311    \t张子涵\t  \t获得考试成绩\t
1397    \t张子涵\t  \t学生访问章节\t
1871    \t张子涵\t  \t学生访问章节\t
...         ...         ...
119744  \t张子涵\t  \t学生访问章节\t
119878  \t张子涵\t  \t学生访问章节\t
119879  \t张子涵\t  \t学生访问章节\t
119880  \t张子涵\t  \t学生访问章节\t
119881  \t张子涵\t  \t学生访问章节\t

[903 rows x 2 columns]

In [83]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
a
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
b
a.add(b,fill_value = 1)

a    2.0
b    2.0
c    2.0
d    2.0
e    NaN
dtype: float64

In [85]:
ser = pd.Series([390., 350., 30., 20.],
                index=['Falcon', 'Falcon', 'Parrot', 'Parrot'],
              name="Max Speed")

# Name: Max Speed, dtype: float64
# >>> ser.groupby(["a", "b", "a", "b"]).mean()
# a    210.0
# b    185.0
# Name: Max Speed, dtype: float64
# >>> ser.groupby(level=0).mean()
# Falcon    370.0
# Parrot     25.0
# Name: Max Speed, dtype: float64
# >>> ser.groupby(ser > 100).mean()
# Max Speed
# False     25.0
# True     370.0
# Name: Max Speed, dtype: float64
ser

Falcon    390.0
Falcon    350.0
Parrot     30.0
Parrot     20.0
Name: Max Speed, dtype: float64

In [91]:
ser.groupby(["a", "b", "a", "b"])

AttributeError: 'SeriesGroupBy' object has no attribute 'loc'

In [95]:
df3 = pd.DataFrame([[True, True],[True, False]],index = ["row1","row2"])
df3.all(axis = 'columns')
df3.all()

0     True
1    False
dtype: bool

In [97]:
data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
df = pd.DataFrame(data)
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [103]:
df.clip(-4,6,axis=None)

   col_0  col_1
0      6     -2
1     -3     -4
2      0      6
3     -1      6
4      5     -4

In [109]:
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [114]:

df.iloc[:,0].min()

-3

In [116]:
>>> pd.Series([2, 1, 3, 3], name='A')

0    2
1    1
2    3
3    3
Name: A, dtype: int64

In [119]:
date1 = pd.Series([pd.Timestamp('2016-01-01') for _ in range(3)])

In [120]:
date1.nunique()

1