In [1]:
import pandas as pd

df = pd.read_csv('dxwl.csv')
print(df.head())
print(df.shape)

                    时间       用户ID       姓名     账号       group1    group2  \
0  2022-02-14 10:23:57  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t
1  2022-02-14 10:23:57  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t
2  2022-02-14 10:23:57  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t
3  2022-02-14 10:23:59  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t
4  2022-02-14 10:24:00  147113078  \t张老师\t  55048  \t数学与物理学院\t  \t其他院系\t

     group3      事件类型       课程id     课程名          班级名        班级id 任务点类型 任务点名称  \
0  \t其他院系\t  \t创建课程\t  222668992  大学物理A1          NaN         NaN   NaN   NaN
1  \t其他院系\t  \t创建班级\t  222668992  大学物理A1     \t默认班级\t  50655125.0   NaN   NaN
2  \t其他院系\t  \t创建班级\t  222668992  大学物理A1  大学物理A1-0009  50655126.0   NaN   NaN
3  \t其他院系\t  \t创建班级\t  222668992  大学物理A1  大学物理A1-0010  50655128.0   NaN   NaN
4  \t其他院系\t  \t创建班级\t  222668992  大学物理A1  大学物理A1-0008  50655129.0   NaN   NaN

       设备         IP  省份  城市
0  \tpc\t  10.0.14.8 NaN NaN
1  \tpc\t  10.0.14.8 NaN NaN
2  \tpc\t  10.0.14.8 NaN NaN
3  \tpc\t  10.0.14.8 NaN NaN
4  \tpc\t  10.0.14.8 NaN NaN
(119957, 18)

In [20]:
date = df['时间']
date.head().index
type(date)
date.values

import numpy as np
date.array

<PandasArray>
['2022-02-14 10:23:57', '2022-02-14 10:23:57', '2022-02-14 10:23:57',
 '2022-02-14 10:23:59', '2022-02-14 10:24:00', '2022-02-14 10:27:17',
 '2022-02-14 10:27:36', '2022-02-14 10:27:48', '2022-02-14 10:27:59',
 '2022-02-14 10:28:12',
 ...
 '2022-08-22 10:57:45', '2022-08-23 14:38:42', '2022-08-24 08:52:34',
 '2022-08-24 21:18:28', '2022-08-24 21:36:30', '2022-08-26 09:52:55',
 '2022-08-26 16:34:42', '2022-08-26 16:34:42', '2022-08-26 16:34:42',
 '2022-08-26 16:34:42']
Length: 119957, dtype: object

In [21]:
date.ndim

1

In [22]:
date.dtype

dtype('O')

In [24]:
date_copy = date.copy()
date_copy

0         2022-02-14 10:23:57
1         2022-02-14 10:23:57
2         2022-02-14 10:23:57
3         2022-02-14 10:23:59
4         2022-02-14 10:24:00
                 ...
119952    2022-08-26 09:52:55
119953    2022-08-26 16:34:42
119954    2022-08-26 16:34:42
119955    2022-08-26 16:34:42
119956    2022-08-26 16:34:42
Name: 时间, Length: 119957, dtype: object

In [27]:
pd.Series([True]).bool()

True

In [28]:
date.array

<PandasArray>
['2022-02-14 10:23:57', '2022-02-14 10:23:57', '2022-02-14 10:23:57',
 '2022-02-14 10:23:59', '2022-02-14 10:24:00', '2022-02-14 10:27:17',
 '2022-02-14 10:27:36', '2022-02-14 10:27:48', '2022-02-14 10:27:59',
 '2022-02-14 10:28:12',
 ...
 '2022-08-22 10:57:45', '2022-08-23 14:38:42', '2022-08-24 08:52:34',
 '2022-08-24 21:18:28', '2022-08-24 21:36:30', '2022-08-26 09:52:55',
 '2022-08-26 16:34:42', '2022-08-26 16:34:42', '2022-08-26 16:34:42',
 '2022-08-26 16:34:42']
Length: 119957, dtype: object

In [29]:
date.to_numpy()

array(['2022-02-14 10:23:57', '2022-02-14 10:23:57',
       '2022-02-14 10:23:57', ..., '2022-08-26 16:34:42',
       '2022-08-26 16:34:42', '2022-08-26 16:34:42'], dtype=object)

In [32]:
date_range1 = pd.date_range(start="2022/2/14",end = "2022/8/14",freq = "M")
date_range1

DatetimeIndex(['2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31'],
              dtype='datetime64[ns]', freq='M')

In [33]:
date.get()

'2022-02-14 10:28:12'

In [34]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [35]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [37]:
df.iloc[0]

max_speed    1
shield       2
Name: cobra, dtype: int64

In [57]:
date_range1 = pd.date_range(start="2022/2/14",end = "2022/8/26",freq = "M")
date_range1

# date.loc([df['时间']<date_range1[1]])

df = pd.read_csv('dxwl.csv')
date2 = df['时间']
date2

0         2022-02-14 10:23:57
1         2022-02-14 10:23:57
2         2022-02-14 10:23:57
3         2022-02-14 10:23:59
4         2022-02-14 10:24:00
                 ...
119952    2022-08-26 09:52:55
119953    2022-08-26 16:34:42
119954    2022-08-26 16:34:42
119955    2022-08-26 16:34:42
119956    2022-08-26 16:34:42
Name: 时间, Length: 119957, dtype: object

In [58]:
date2.shape

(119957,)

In [78]:
date2.get(0)
date2_str = date2.at[0].split(" ")[0].format()

from datetime import datetime
date2_datetime = datetime.strptime(date2_str,'%Y-%m-%d')
type(date2_datetime)

date_range1 = pd.date_range(start="2022/2/14",end = "2022/8/26",freq = "M")
date_range1.dtype

False

In [81]:
student1 = df.loc[(df['姓名']=="\t张子涵\t"),['姓名','事件类型']]
student1
student1.get_dummies()

             姓名        事件类型
1080    \t张子涵\t    \t参与签到\t
1305    \t张子涵\t    \t提交考试\t
1311    \t张子涵\t  \t获得考试成绩\t
1397    \t张子涵\t  \t学生访问章节\t
1871    \t张子涵\t  \t学生访问章节\t
...         ...         ...
119744  \t张子涵\t  \t学生访问章节\t
119878  \t张子涵\t  \t学生访问章节\t
119879  \t张子涵\t  \t学生访问章节\t
119880  \t张子涵\t  \t学生访问章节\t
119881  \t张子涵\t  \t学生访问章节\t

[903 rows x 2 columns]

In [83]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
a
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
b
a.add(b,fill_value = 1)

a    2.0
b    2.0
c    2.0
d    2.0
e    NaN
dtype: float64

In [85]:
ser = pd.Series([390., 350., 30., 20.],
                index=['Falcon', 'Falcon', 'Parrot', 'Parrot'],
              name="Max Speed")

# Name: Max Speed, dtype: float64
# >>> ser.groupby(["a", "b", "a", "b"]).mean()
# a    210.0
# b    185.0
# Name: Max Speed, dtype: float64
# >>> ser.groupby(level=0).mean()
# Falcon    370.0
# Parrot     25.0
# Name: Max Speed, dtype: float64
# >>> ser.groupby(ser > 100).mean()
# Max Speed
# False     25.0
# True     370.0
# Name: Max Speed, dtype: float64
ser

Falcon    390.0
Falcon    350.0
Parrot     30.0
Parrot     20.0
Name: Max Speed, dtype: float64

In [91]:
ser.groupby(["a", "b", "a", "b"])

AttributeError: 'SeriesGroupBy' object has no attribute 'loc'

In [95]:
df3 = pd.DataFrame([[True, True],[True, False]],index = ["row1","row2"])
df3.all(axis = 'columns')
df3.all()

0     True
1    False
dtype: bool

In [97]:
data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
df = pd.DataFrame(data)
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [103]:
df.clip(-4,6,axis=None)

   col_0  col_1
0      6     -2
1     -3     -4
2      0      6
3     -1      6
4      5     -4

In [109]:
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [114]:

df.iloc[:,0].min()

-3

In [116]:
>>> pd.Series([2, 1, 3, 3], name='A')

0    2
1    1
2    3
3    3
Name: A, dtype: int64

In [119]:
date1 = pd.Series([pd.Timestamp('2016-01-01') for _ in range(3)])

In [120]:
date1.nunique()

1

In [123]:
s1 = pd.Series(['2016-01-01'])

In [127]:
s2 = pd.to_datetime(s1)

In [128]:
s2

0   2016-01-01
dtype: datetime64[ns]

In [129]:
s2.dt.date

0    2016-01-01
dtype: object

In [130]:
s2.dt.time

0    00:00:00
dtype: object

In [132]:
s2.dt.month_name()

0    January
dtype: object

In [7]:
import pandas as pd
d= {'col1':[1,2],'col2':[3,4]}
df = pd.DataFrame(data = d,index=['row1','row2'])
df

      col1  col2
row1     1     3
row2     2     4

In [5]:
df2 = pd.DataFrame([[1,2],[3,4]],index=['row1','row2'])
df2

      0  1
row1  1  2
row2  3  4

In [15]:
df2 = pd.DataFrame([[1,2],[3,4]],index=['row1','row2'],columns = ['col1','col2'])
df2

      col1  col2
row1     1     2
row2     3     4

In [13]:
df.attrs

{}

In [16]:
df2.axes

[Index(['row1', 'row2'], dtype='object'),
 Index(['col1', 'col2'], dtype='object')]

In [17]:
df2.columns

Index(['col1', 'col2'], dtype='object')

In [18]:
df2.dtypes

col1    int64
col2    int64
dtype: object

In [19]:
df2.iat[0,0]

1

In [21]:
df2.loc['row1','col2']

2

In [22]:
df2.index

Index(['row1', 'row2'], dtype='object')

In [23]:
df2.ndim

2

In [25]:
df2.size

4

In [26]:
df2.style

ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

In [27]:
df2

      col1  col2
row1     1     2
row2     3     4

In [32]:
df2.add_prefix('pre_')

      pre_col1  pre_col2
row1         1         2
row2         3         4

In [33]:
df2.add_prefix('pre_'')

TypeError: NDFrame.add_prefix() takes 2 positional arguments but 3 were given

In [34]:
df3= pd.DataFrame({'col1':[1,2],'col2':[3,4]},index = ['row1','row2'])
df3

      col1  col2
row1     1     3
row2     2     4

In [35]:
df3.add_prefix('pre_')

      pre_col1  pre_col2
row1         1         3
row2         2         4

In [37]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, row1 to row2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    2 non-null      int64
 1   col2    2 non-null      int64
dtypes: int64(2)
memory usage: 48.0+ bytes

In [38]:
df3.axes

[Index(['row1', 'row2'], dtype='object'),
 Index(['col1', 'col2'], dtype='object')]

In [40]:
deep = df3.copy()
shallow = df3.copy(deep=False)

In [43]:
deep is df3
shallow is df3

False

In [44]:
shallow.iloc[0,0] = 9
shallow

      col1  col2
row1     9     3
row2     2     4

In [45]:
df3

      col1  col2
row1     9     3
row2     2     4

In [46]:
deep.iloc[0,0] = 9
deep

      col1  col2
row1     9     3
row2     2     4

In [47]:
shallow.iloc[0,1] = 8
shallow

      col1  col2
row1     9     8
row2     2     4

In [48]:

deep

      col1  col2
row1     9     3
row2     2     4

In [49]:
df3

      col1  col2
row1     9     8
row2     2     4

In [50]:
df3.insert(0,'col0',[2,5])

In [51]:
df3

      col0  col1  col2
row1     2     9     8
row2     5     2     4

In [52]:
df3.tail(2)

      col0  col1  col2
row1     2     9     8
row2     5     2     4

In [53]:
df3.head(-1)

      col0  col1  col2
row1     2     9     8

In [54]:
df3
df3.isin([0,5])

       col0   col1   col2
row1  False  False  False
row2   True  False  False

In [58]:
df3.isin({'col0':[0,5],'col1':[0,9],'col2':range(0,9)})

       col0   col1  col2
row1  False   True  True
row2   True  False  True

In [61]:
df3

      col0  col1  col2
row1     2     9     8
row2     5     2     4

In [63]:
df3.where(df3>5,df3*2)

      col0  col1  col2
row1     4     9     8
row2    10     4     8

In [64]:
pd.Series([1,5,5,7,6,5]).count()

6

# time series

In [8]:
import pandas as pd

index = pd.date_range('1/1/2000', periods=4, freq='H')
series = pd.Series([0.0, None, 2.0, 3.0], index=index)
df = pd.DataFrame({'s': series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 01:00:00  NaN
2000-01-01 02:00:00  2.0
2000-01-01 03:00:00  3.0

In [9]:
df.asfreq(freq = '10S',fill_value= 0)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:10  0.0
2000-01-01 00:00:20  0.0
2000-01-01 00:00:30  0.0
2000-01-01 00:00:40  0.0
...                  ...
2000-01-01 02:59:20  0.0
2000-01-01 02:59:30  0.0
2000-01-01 02:59:40  0.0
2000-01-01 02:59:50  0.0
2000-01-01 03:00:00  3.0

[1081 rows x 1 columns]

In [11]:
df.resample('3T').asfreq(fill_value=9)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:03:00  9.0
2000-01-01 00:06:00  9.0
2000-01-01 00:09:00  9.0
2000-01-01 00:12:00  9.0
...                  ...
2000-01-01 02:48:00  9.0
2000-01-01 02:51:00  9.0
2000-01-01 02:54:00  9.0
2000-01-01 02:57:00  9.0
2000-01-01 03:00:00  3.0

[61 rows x 1 columns]

In [18]:
date1 =  pd.to_datetime('2022-02-02 00:00:01').strftime('%Y-%m-%d')

In [19]:
pd.to_datetime(date1)

Timestamp('2022-02-02 00:00:00')

In [22]:
df.index.to_period("T")

PeriodIndex(['2000-01-01 00:00:00', '2000-01-01 01:00:00',
             '2000-01-01 02:00:00', '2000-01-01 03:00:00'],
            dtype='period[S]')

In [2]:
import pandas as pd
data = [[1, 2, 3], [1, 5, 6], [7, 8, 9]]
df = pd.DataFrame(data, columns=["a", "b", "c"])
df

   a  b  c
0  1  2  3
1  1  5  6
2  7  8  9

In [3]:
df.groupby(by=["a"]).groups

{1: [0, 1], 7: [2]}

In [4]:
df.groupby("a").groups

{1: [0, 1], 7: [2]}

In [9]:
for name,info in df.groupby('a'):
    print(f'{name}\n{info}\n')

1
   a  b  c
0  1  2  3
1  1  5  6

7
   a  b  c
2  7  8  9

# groupby

In [24]:
import pandas as pd
data = [[1, 2, 3], [1, 5, 6], [7, 8, 9]]
df = pd.DataFrame(data, columns=["a", "b", "c"])
df

   a  b  c
0  1  2  3
1  1  5  6
2  7  8  9

In [25]:
data = [[1, 2, 3], [1, 5, 6], [7, 8, 9]]
df = pd.DataFrame(data, columns=["a", "b", "c"],
                  index=["owl", "toucan", "eagle"])
df

        a  b  c
owl     1  2  3
toucan  1  5  6
eagle   7  8  9

In [30]:
df.groupby(by=["a"]).get_group(7)

       a  b  c
eagle  7  8  9

In [32]:
df.resample()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [33]:
>>> ser = pd.Series([1, 2, 3, 4], index=pd.DatetimeIndex(
                 ['2023-01-01', '2023-01-15', '2023-02-01', '2023-02-15']))

In [34]:
ser

2023-01-01    1
2023-01-15    2
2023-02-01    3
2023-02-15    4
dtype: int64

In [43]:
for x,y in ser.resample('M'):
    print(f'{x}\n{y}\n')
    print(y.index)

2023-01-31 00:00:00
2023-01-01    1
2023-01-15    2
dtype: int64

DatetimeIndex(['2023-01-01', '2023-01-15'], dtype='datetime64[ns]', freq=None)
2023-02-28 00:00:00
2023-02-01    3
2023-02-15    4
dtype: int64

DatetimeIndex(['2023-02-01', '2023-02-15'], dtype='datetime64[ns]', freq=None)

In [44]:
ser = pd.Series([1, 2, 3, 4], index=pd.DatetimeIndex(
                ['2023-01-01', '2023-01-15', '2023-02-01', '2023-02-15']))

In [45]:
ser

2023-01-01    1
2023-01-15    2
2023-02-01    3
2023-02-15    4
dtype: int64

In [49]:
ser.resample('MS').groups

{Timestamp('2023-01-01 00:00:00', freq='MS'): 2,
 Timestamp('2023-02-01 00:00:00', freq='MS'): 4}

In [7]:

import numpy as np

# 创建一个时间序列数据
date_rng = pd.date_range('2023-01-01', '2023-01-10', freq='D')
data = np.random.randn(len(date_rng))
ts = pd.Series(data, index=date_rng)

# 使用 Resampler 进行重新采样（以每两天为一组）
resampler = ts.resample('2D')

# 获取组信息
groups = resampler.groups
print(groups)

{Timestamp('2023-01-01 00:00:00', freq='2D'): 2, Timestamp('2023-01-03 00:00:00', freq='2D'): 4, Timestamp('2023-01-05 00:00:00', freq='2D'): 6, Timestamp('2023-01-07 00:00:00', freq='2D'): 8, Timestamp('2023-01-09 00:00:00', freq='2D'): 10}

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (1382321436.py, line 3)